In [1]:
print("hello world")

hello world

In [2]:
print('hello world')

hello world

In [6]:
import pandas as pd
df = pd.read_csv('db/fortune500.csv')
df.head()

   Year  Rank           Company  Revenue (in millions) Profit (in millions)
0  1955     1    General Motors                 9823.5                  806
1  1955     2       Exxon Mobil                 5661.4                584.8
2  1955     3        U.S. Steel                 3250.4                195.4
3  1955     4  General Electric                 2959.1                212.6
4  1955     5            Esmark                 2510.8                 19.1

In [7]:
print(df)

       Year  Rank                       Company  Revenue (in millions)  \
0      1955     1                General Motors                 9823.5
1      1955     2                   Exxon Mobil                 5661.4
2      1955     3                    U.S. Steel                 3250.4
3      1955     4              General Electric                 2959.1
4      1955     5                        Esmark                 2510.8
5      1955     6                      Chrysler                 2071.6
6      1955     7                        Armour                 2056.1
7      1955     8                      Gulf Oil                 1705.3
8      1955     9                         Mobil                 1703.6
9      1955    10                        DuPont                 1687.7
10     1955    11                         Amoco                 1667.4
11     1955    12               Bethlehem Steel                 1660.3
12     1955    13                           CBS                 1631.0
13     1955    14                        Texaco                 1574.4
14     1955    15             AT&T Technologies                 1526.2
15     1955    16                     Shell Oil                 1312.1
16     1955    17                         Kraft                 1210.3
17     1955    18                 ChevronTexaco                 1113.3
18     1955    19        Goodyear Tire & Rubber                 1090.1
19     1955    20                        Boeing                 1033.2
20     1955    21                  Sinclair Oil                 1021.5
21     1955    22        Navistar International                  994.1
22     1955    23                           RCA                  941.0
23     1955    24                 Union Carbide                  923.7
24     1955    25       Firestone Tire & Rubber                  916.0
25     1955    26              Douglas Aircraft                  915.2
26     1955    27              Procter & Gamble                  911.0
27     1955    28                Republic Steel                  846.3
28     1955    29               Citgo Petroleum                  813.2
29     1955    30                ConocoPhillips                  794.6
...     ...   ...                           ...                    ...
25470  2005   471              Wisconsin Energy                 3912.1
25471  2005   472       American Financial Grp.                 3911.7
25472  2005   473              Beazer Homes USA                 3907.1
25473  2005   474              Collins & Aikman                 3904.0
25474  2005   475                 Borders Group                 3903.0
25475  2005   476                    Nash Finch                 3897.1
25476  2005   477                 Toll Brothers                 3893.1
25477  2005   478                         SCANA                 3885.0
25478  2005   479            Whole Foods Market                 3864.9
25479  2005   480                       Corning                 3854.0
25480  2005   481                    Sealed Air                 3798.1
25481  2005   482                        Maxtor                 3796.3
25482  2005   483          Reebok International                 3785.3
25483  2005   484                           UGI                 3784.7
25484  2005   485                       Guidant                 3775.2
25485  2005   486                 Host Marriott                 3773.0
25486  2005   487            Advance Auto Parts                 3770.3
25487  2005   488                 ServiceMaster                 3759.6
25488  2005   489           Wesco International                 3741.3
25489  2005   490         Telephone & Data Sys.                 3720.4
25490  2005   491        Level 3 Communications                 3712.0
25491  2005   492         Brinker International                 3707.5
25492  2005   493         Stater Bros. Holdings                 3704.9
25493  2005   494  Western & Southern Financial                 3694.5
25494  2005   495                       Gateway                 3649.7
25495  2005   496               Wm. Wrigley Jr.                 3648.6
25496  2005   497                Peabody Energy                 3631.6
25497  2005   498         Wendy's International                 3630.4
25498  2005   499            Kindred Healthcare                 3616.6
25499  2005   500          Cincinnati Financial                 3614.0

      Profit (in millions)
0                      806
1                    584.8
2                    195.4
3                    212.6
4                     19.1
5                     18.5
6                      1.6
7                    182.8
8                    183.8
9                    344.4
10                   132.8
11                   117.2
12                    84.6
13                   226.1
14                    55.8
15                   121.1
16                    37.4
17                   211.9
18                    48.1
19                      37
20                    91.6
21                    36.3
22                    40.5
23                    89.8
24                    40.5
25                    36.2
26                    52.3
27                    52.9
28                    43.7
29                    76.2
...                    ...
25470                306.4
25471                359.9
25472                235.8
25473               -118.5
25474                131.9
25475                 14.9
25476                409.1
25477                  257
25478                137.1
25479                -2165
25480                215.6
25481               -181.9
25482                192.4
25483                111.6
25484                  524
25485                 N.A.
25486                  188
25487                331.2
25488                 64.9
25489                   49
25490                 -458
25491                  154
25492                 71.8
25493                  328
25494               -567.6
25495                  493
25496                175.4
25497                 57.8
25498                 70.6
25499                  584

[25500 rows x 5 columns]